body {
  position: relative;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #1e1e1e;
  color: #ffffff;
  background-image: url('bg.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

h1 {
  color: #ff8c00;
  background-color: rgba(30, 30, 30, 0.7); /* Halbtransparenter Hintergrund */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Dunkler Schatten */
  padding: 10px; /* Abstand um den Text */
  display: inline-block; /* Hintergrund nur um den Text */
  border-radius: 5px; /* Optionale Abrundung der Ecken */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: rgba(43, 43, 43, 0.8); /* Halbtransparenter Hintergrund */
  color: #ffffff;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #444444;
}

th {
  background-color: rgba(51, 51, 51, 0.8);
  font-weight: bold;
}

.status {
  font-weight: bold;
}

.used {
  color: #ff6347;
}

.free {
  color: #32cd32;
}
